@media only screen and (max-width:1002px) {
    #header {
        height: 11vh;
        flex-direction: column-reverse;
        align-items:flex-start;
        justify-content: center;
    }

    .navbar{
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 220px;
        margin-left: 53px;
        display:none;
    }
    .input_and_search{
        /* max-width: 300px; */
        position: relative;
        left:-100px;
        display:none;
        height:75px;
    }
.sm-btn{
    display:none;
}
    .intro{
        padding:0px 15px;
    }

    .navbar a {
        margin-top: 26px;
        font-size: 25px;
    }
    .section1 img{
        width:40%;
    }

    .logo img {
       position: relative;
       left:35px;
       top:-350px;
       width:120px;
       
    }

    .logo {
        margin-top: 20px;
    }

    .H1 {
        max-width: 40%;
    }

    .section2 {
        height:3200px;
    }
    .section3{
        min-height:80vh;
    }

    .items {
        height:560px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .items img{
      width:60%;
    }
    .para {
        max-width: 600px;
        min-height: 240px;
    }
    h1{
        text-align: center;
    }
    .margin-bottom{
        margin-bottom: 10px;
    }
    .handfree{
        height:630px;
    }
    #footer p{
        text-align: center;
    }
    .H1{
        font-size: 20PX;
    }
    .about-me{
        width:300px;
    }
    #hamburgur{
        display:block;
       
    }

}